.banner-show{
    background-image: url(../images/pics/coffee.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.banner-land{
    background-image: url(../images/pics/animated-land.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-about{
    background-image: url(../images/pics/snow-road.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.banner-contact{
    background-image: url(../images/pics/phone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
